.siteContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.homeNavBar {
  display: flex;
  flex-direction: row;
  background-color: #322e30;
  width: 100%;
  height: 60px;
}

.navBarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 8%;
  margin: 0;
  padding: 10px;
}

.backContent {
  display: flex;
  justify-content: center;
  background-color: #191718;
  width: 100%;
  height: 1000px;
}

.featuredContent {
  display: flex;
  justify-content: center;
  background-color: #5e4655;
  height: 90%;
  width: 80%;
  margin: 100px;
  padding: 0;
}

/*                 ||||
* To be removed... VVVV
*/

.colorPallete {
  color: #5e4655;
  background-color: #404326;
  border-color: #e4de93;
  text-shadow: #191718;
  box-shadow: #dcd4d2;
}
