.siteContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* This marks the start of NAVBAR content */
.homeNavBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
  background-color: #322e30;
  width: 100%;
  height: 60px;
}

.navBarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #191718;
  height: 90%;
  width: 8%;
  margin: 0px 5px;
  padding: 0px 5px;
}

.navBarButton {
  border: none;
}

/* for making button darker, here is the credit:
 * https://stackoverflow.com/questions/65297617/how-to-make-an-elements-background-color-a-little-darker-using-css */
.navBarButton:hover {
  background-image: linear-gradient(to bottom, rgb(0 0 0/40%), rgb(0 0 0/0%));
}

.navSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #191718;
  border: none;
  padding: 0px 0px;
}

.navSearchButton:hover {
  background-image: radial-gradient(rgb(0 0 0/40%) 0%, rgb(0 0 0/0%) 75%);
}

.navFilterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #191718;
  border: none;
  padding: 0px 0px;
}

.navFilterButton:hover {
  background-image: radial-gradient(rgb(0 0 0/40%) 0%, rgb(0 0 0/0%) 75%);
}

.navSearchContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191718;
  height: 90%;
  width: 30%;
  margin: 0px 5px;
  padding: 0px 0px;
}
.navSearchIcon {
  padding: 15px 15px;
}
.navFilterIcon {
  padding: 15px 15px;
}
.navSearchBar {
  background-color: #141314;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

.navSearchInput {
  background-color: #141314;
  color: #ffffffbe;
  font-weight: 5;
  letter-spacing: 2px;
  font-size: 150%;
  width: 100%;
  outline: none;
  border: none;
}

/* The [] portion represents the HTML attribute of the input
 * element, in this case being type=text, in which then CSS will
 * only modify the cancel text field button of that element,
 * signified by "-webkit-search-cancel-button, so that it is replaced.
 * Credit:
 * https://stackoverflow.com/questions/47041672/change-the-color-of-the-clear-button-x-in-input-type-search */
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -webkit-mask-image: url(/svgcontent/deletesmallicon.svg);
  background-color: #ffffff80;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
.navBarText {
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}

/* This marks the start of FEATURED content */
.backContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191718;
  width: 100%;
  height: 650px;
}

.backSideContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.backContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191718;
  width: 80%;
  height: 100%;
}

.featuredContent {
  display: flex;
  justify-content: center;
  background-color: #322e30;
  height: 90%;
  width: 80%;
  margin: 50px 50px;
}

/* This marks the start of MAIN content */
.mainContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #322e30;
  width: 100%;
  height: 1500px;
}

.mainSideContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.mainContent {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  box-sizing: border-box;
  column-gap: 200px;
  width: 80%;
  height: 100%;
  margin: 0px 0px;
  padding: 100px 0px;
}

/* This marks the start of GENERAL content */

.generalContentLargeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b4548;
  width: 100%;
  height: 450px;
}

.generalContentLarge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*                 ||||
* To be removed... VVVV
*/

.colorPallete {
  color: #5e4655;
  background-color: #404326;
  border-color: #e4de93;
  text-shadow: #191718;
  box-shadow: #dcd4d2;
}
